
.formulario {
    border: 1px solid black;
    padding: 1.0em;
}

.etiqueta {
    display: block;
    width: 150px;
}

.ingresa {
    width: 300px;
}

.grupoForm {
    display: flex;
    margin-bottom: 1.5em;
}

.btnGuardar {
    background-color: green;
    padding: 0.5em 1.0em;
}